* {
	box-sizing: border-box;
}

#peeking {
	position: fixed;
	left: -300px;
	top: 1200px;
	animation-name: rise;
	animation-delay: 10s;
	animation-duration: 30s;
	animation-iteration-count: 2;
}

@keyframes rise {
	0% {
		top: 1200px;
	}
	20% {
		top: 300px;
	}
	40% {
		top: 1200px;
	}
	100% {
		top: 1200px;
	}
}

body {
	background-color: #DAEDE2;
	font-family: 'Arimo', sans-serif;
	font: #333745;
	background-image: url("../images/background.jpg");
}

header {
	background-image: url("../images/green_cup.png");
	border-bottom: 2px solid #382513;
}

h1 {
	font-size: 48px;
	font-weight: bold;
	color: #382513;
}

#buttonSpacer {
	text-align: center;
}

button {
	height: 80px; 
    width: 200px; 
    position:relative;
    margin: 80px auto;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 36px;
    border: 2px solid #333745;
    background-image: url("../images/green_cup.png");
    color: #333745;
    display: block;
}

button:hover {
    background-image: url("../images/wood_1.png"); 
    color: #D8CAA8;
}

.header {
	height: auto;
	text-align: center;
	padding: 10px;
	margin: auto;
	overflow: auto;
}

#container {
	display: none;
}

.container {
	width: 760px;
	height: auto;
	margin: 30px auto;
}

#wordSection {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #333745;
	width: 760px;;
	height: 106px;
	padding: 33px 0;
	text-align: center;
	background-color: rgba(172, 178, 156, 0.5); 
}

#score {
	border-bottom: 1px solid #333745;
	border-right: 1px solid #333745;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 394px;
	height: 150px;
	text-align: center;
	background-color: rgba(172, 178, 156, 0.5);
}

#score p {
	font-size: 28px;
	padding-top: 17px;
}

.guesses {
	border-right: 1px solid #333745;
	border-left: 1px solid #333745;
	border-bottom: 1px solid #333745;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 366px;
	height: 150px;
	text-align: center;
	background-color: rgba(172, 178, 156, 0.5);
	z-index: 6;
}

#guesses {
	height: 74px;
	font-size: 24px;

}

.guesses h2 {
	padding: 5px 0;
	font-size: 28px;
}

#game {
	overflow: auto;
	position: relative;
	height: 256px;
}

.clearTile {
	margin-right: 10px;
	text-align: center;
	font-size: 24px;
	color: #EA2E49;
	display: inline-block;
	padding-top: 5px;
	height: 40px;
	width: 40px;
	background-color: #DAEDE2;
	margin-top: 17px;
}

.tile {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	background-color: #DAEDE2;
	text-align: center;
	font-size: 24px;
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
}

#window {
	position: relative;
	width: 684px;
	height: 256px;
	margin: 0 auto;
	border: 2px solid #333745;
	z-index: 10;
	display: none;
	background-color: #DAEDE2;
}

#windowTitle {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 36px;
	margin: 10px auto;
	width: 359px;
	text-align: center;
}

#windowImg {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px;
	width: 315px;
	height: 242px;
}

#buttonSpan {
	font-size: 28px;
}

#imgDescription {
	position: absolute;
	right: 0;
	top: 0;
	width: 359px;
	height: 152px;
	margin-top: 64px;
	padding: 0 29px;
}

#windowButton {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 10px 29px 10px 0;
	width: 301px;
}

/*These media queries are kind of off for a lot of devies*/
@media screen and (max-width: 760px) {
	.container {
		width: 600px;
	}
	#game {
		height: auto;
	}
	#wordSection {
		position: relative;
		width: 100%;
	}
	.guesses {
		position: relative;
		width: 100%;
	}
	#score {
		position: relative;
		width: 100%;
	}
	#window {
		position: absolute;
		width: 550px;
		margin: 25px 0;
		height: 360px;
	}
	#windowTitle {
		width: 100%;
	}
	#windowImg {
		margin-top: 61px;
		width: 265px;
		height: 194px;
	}
	#imgDescription {
		width: 265px;
		padding: 0;
		margin: 5px;
		margin-top: 61px;
	}
	#windowButton {
		width: 300px;
		margin: 10px 125px 10px 125px;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 550px;
	}
	#game {
		height: auto;
	}
	#wordSection {
		position: relative;
		width: 100%;
	}
	.guesses {
		position: relative;
		width: 100%;
	}
	#score {
		position: relative;
		width: 100%;
	}
	h1 {
		font-size: 36px;
	}
	#window {
		position: absolute;
		width: 500px;
		margin: 25px;
		height: 360px;
	}
	#windowTitle {
		width: 100%;
	}
	#windowImg {
		margin-top: 61px;
		width: 265px;
		height: 194px;
	}
	#imgDescription {
		width: 215px;
		padding: 0;
		margin: 5px;
		margin-top: 61px;
	}
	#windowButton {
		width: 300px;
		margin: 10px 100px 10px 100px;
	}
}

@media screen and (max-width: 550px) {
	.container {
		width: 530px;
	}
	#game {
		height: auto;
	}
	#wordSection {
		position: relative;
		width: 100%;
	}
	.guesses {
		position: relative;
		width: 100%;
	}
	#score {
		position: relative;
		width: 100%;
	}
	h1 {
		font-size: 36px;
	}
	#window {
		position: absolute;
		width: 480px;
		margin: 25px;
		height: 360px;
	}
	#windowTitle {
		width: 100%;
	}
	#windowImg {
		margin-top: 61px;
		width: 265px;
		height: 194px;
	}
	#imgDescription {
		width: 195px;
		padding: 0;
		margin: 5px;
		margin-top: 61px;
	}
	#windowButton {
		width: 300px;
		margin: 10px 90px 10px 90px;
	}
}

@media screen and (max-width: 529px) {
	.container {
		width: 480px;
		margin: 30px 0;
	}
	#game {
		height: auto;
		margin: 0 30px;
	}
	#wordSection {
		position: relative;
		width: 100%;
	}
	.guesses {
		position: relative;
		width: 100%;
	}
	#score {
		position: relative;
		width: 100%;
	}
	h1 {
		font-size: 28px;
	}
	#window {
		position: absolute;
		width: 430px;
		margin: 0;
		height: 388px;
	}
	#windowTitle {
		width: 100%;
		position: relative;
		margin: 2px auto;
		font-size: 28px;
	}
	#windowImg {
		margin: 0 10px;
		width: 400px;
		height: 220px;
		position: relative;
	}
	#imgDescription {
		width: 400px;
		padding: 0;
		margin: 5px 10px 0 10px;
		position: relative;
		height: 60px;
		font-size: 12px;
	}
	#windowButton {
		width: 300px;
		margin: 5px 70px;
	}
	.clearTile {
	margin-right: 5px;
	text-align: center;
	font-size: 22px;
	color: #EA2E49;
	display: inline-block;
	padding-top: 5px;
	height: 35px;
	width: 35px;
	background-color: #DAEDE2;
	margin-top: 17px;
	}
	.tile {
	height: 35px;
	width: 35px;
	margin-right: 5px;
	background-color: #DAEDE2;
	text-align: center;
	font-size: 22px;
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
	}
	@keyframes rise {
	0% {
		top: 1200px;
	}
	20% {
		top: 100px;
	}
	40% {
		top: 1200px;
	}
	100% {
		top: 1200px;
	}
}
}

@media screen and (max-width: 360px) {
	.container {
		width: 320px;
	}
	#game {
		height: auto;
	}
	#wordSection {
		position: relative;
		width: 100%;
	}
	.guesses {
		position: relative;
		width: 100%;
	}
	#score {
		position: relative;
		width: 100%;
	}
	h1 {
		font-size: 24px;
	}
	#window {
		position: absolute;
		width: 320px;
		margin: 0;
		height: 388px;
	}
	#windowTitle {
		width: 100%;
		position: relative;
		margin: 2px auto;
		font-size: 28px;
	}
	#windowImg {
		margin: 0 10px;
		width: 300px;
		height: 220px;
		position: relative;
	}
	#imgDescription {
		width: 300px;
		padding: 0;
		margin: 5px 10px 0 10px;
		position: relative;
		height: 60px;
		font-size: 12px;
	}
	#windowButton {
		width: 300px;
		margin: 5px;
	}
	.clearTile {
	margin-right: 5px;
	text-align: center;
	font-size: 18px;
	color: #EA2E49;
	display: inline-block;
	padding-top: 5px;
	height: 30px;
	width: 30px;
	background-color: #DAEDE2;
	margin-top: 17px;
	}
	.tile {
	height: 30px;
	width: 30px;
	margin-right: 5px;
	background-color: #DAEDE2;
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
	}
	@keyframes rise {
	0% {
		top: 1200px;
	}
	20% {
		top: 100px;
	}
	40% {
		top: 1200px;
	}
	100% {
		top: 1200px;
	}
}
}

@media screen and (max-width: 320px) {
	.container {
		width: 320px;
	}
	#game {
		height: auto;
	}
	#wordSection {
		position: relative;
		width: 100%;
	}
	.guesses {
		position: relative;
		width: 100%;
	}
	#score {
		position: relative;
		width: 100%;
	}
	h1 {
		font-size: 24px;
	}
	#window {
		position: absolute;
		width: 320px;
		margin: 0;
		height: 388px;
	}
	#windowTitle {
		width: 100%;
		position: relative;
		margin: 2px auto;
		font-size: 28px;
	}
	#windowImg {
		margin: 0 10px;
		width: 300px;
		height: 220px;
		position: relative;
	}
	#imgDescription {
		width: 300px;
		padding: 0;
		margin: 5px 10px 0 10px;
		position: relative;
		height: 60px;
		font-size: 12px;
	}
	#windowButton {
		width: 300px;
		margin: 5px;
	}
	.clearTile {
	margin-right: 5px;
	text-align: center;
	font-size: 18px;
	color: #EA2E49;
	display: inline-block;
	padding-top: 5px;
	height: 30px;
	width: 30px;
	background-color: #DAEDE2;
	margin-top: 17px;
	}
	.tile {
	height: 30px;
	width: 30px;
	margin-right: 5px;
	background-color: #DAEDE2;
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
	}
	@keyframes rise {
	0% {
		top: 1200px;
	}
	20% {
		top: 100px;
	}
	40% {
		top: 1200px;
	}
	100% {
		top: 1200px;
	}
}
}
